a {
	color: $color-primary;
	text-decoration: none;
	transition: $transition;
	cursor: pointer;

	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}

p, li {
	// font-size: 1.125rem;
	font-size: 1rem;
	line-height: 1.333;

	@media (max-width: $breakpoint-m - 0.01) {
		font-size: 1rem;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

.text-strikethrough {
	text-decoration: line-through;
}

.blocktext {
	@include blockText;
}

.font-size--s {
	font-size: 18px;
}

.font-size--m {
	font-size: 20px;

	@media (max-width: 1000px) {
		font-size: calc(12px + 0.8vw);            
	}
}

.font-size--l {
	font-size: 24px;

	@media (max-width: 1000px) {
		font-size: calc(14px + 1vw);            
	}
}

.font-size--xl {
	font-size: 36px;

	@media (max-width: 1500px) {
		font-size: calc(18px + 1.2vw);            
	}
}

.font-size--xxl {
	font-size: 48px;

	@media (max-width: 1500px) {
		font-size: calc(18px + 2vw);            
	}
}

@for $i from 1 through 9 {
	$weight: $i * 100;
	.font-weight--#{$weight} {
		font-weight: $weight !important;
	}
}

@each $key, $value in $text-colors {
	.text-color {
		&--#{$key} {
			color: $value;
		}
	}
}