// -------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -------------------------------------------------------------------

/*---------------------------------*\
	Colors
\*---------------------------------*/

$black: #222;
$green: #83bf3e;
$green-dk: #44770a;
$green-dk2: #004900;
$blue-bright: #3399ff;
$blue: #004a64;
$gray1: #ededed;
$gray2: #dfdfdf;
$gray3: #999;
$gray4: #666;
$gray5: #343434;
$red: #cc3300;
$orange: #ff6600;
$orange2: #ff9933;
$yellow: #f1c100;
$purple: #996699;

$color-success: $green;
$color-warning: $yellow;
$color-error: $red;
$color-primary: $green;
$color-primary-dk: $green-dk;
$color-primary-dk2: $green-dk2;
$color-secondary: $blue;
$color-bg-light: $gray1;

$header-height: 112px;

$text-colors: (
	'red': $red,
	'gray4': $gray4,
	'gray5': $gray5,
);

/*---------------------------------*\
	Wrapper
\*---------------------------------*/
$wrapper-max-width: 1050px;
$wrapper-padding-desktop: 48px;
$wrapper-padding-responsive: 3.2vw;
$wrapper-padding-mobile: 12px;


/*---------------------------------*\
	Font Families
\*---------------------------------*/
$font-family-base: "lato", "Helvetica Neue", sans-serif;
$font-family-body: $font-family-base;
$font-family-heading: "alternate-gothic-no-2-d", "Helvetica Neue", sans-serif;


/*---------------------------------*\
	Fonts Sizes
\*---------------------------------*/
$font-size-xs:   1.0000rem; // 16px
$font-size-s:    1.1250rem; // 18px
$font-size-m:    1.5000rem; // 24px
$font-size-l:    2.0000rem; // 32px
$font-size-xl:   3.0000rem; // 48px
$font-size-xxl:  4.0000rem; // 64px

// Spacing --------------------------

$spacing-md1:     2.00rem; // 32px
$spacing-md2:     2.25rem; // 36px
$spacing-md3:     2.50rem; // 40px

$sizes: (
	'md1': $spacing-md1,
	'md2': $spacing-md2,
	'md3': $spacing-md3,
);

$breakpoint-s:    576px;
$breakpoint-m:    768px;
$breakpoint-l:    992px;
$breakpoint-xl:  1200px;
$breakpoint-xxl: 1400px;

$breakpoint-mobile: 1101px;

$breakpoints: (
	'sm': $breakpoint-s,
	'md': $breakpoint-m,
	'lg': $breakpoint-l,
	'xl': $breakpoint-xl,
);

$sides: (
	'left': 's',
	'right': 'e',
	'top': 't',
	'bottom': 'b',
);

/*---------------------------------*\
	Misc.
\*---------------------------------*/
$transition: all 400ms ease-in-out;
$border-radius: 4px;