// -------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -------------------------------------------------------------------

/*---------------------------------*\
	Colors
\*---------------------------------*/

$black: #222;
$green: #83bf3e;
$green-dk: #44770a;
$green-dk2: #004900;
$blue: #004a64;
$gray1: #ededed;
$gray2: #dfdfdf;
$gray3: #999;
$gray4: #666;
$red: #cc3300;

$color-success: $green;
$color-warning: orange;
$color-error: $red;
$color-primary: $green;
$color-primary-dk: $green-dk;
$color-primary-dk2: $green-dk2;
$color-secondary: $blue;
$color-bg-light: $gray1;

$header-height: 112px;

/*---------------------------------*\
	Wrapper
\*---------------------------------*/
$wrapper-max-width: 1050px;
$wrapper-padding-desktop: 48px;
$wrapper-padding-responsive: 3.2vw;
$wrapper-padding-mobile: 12px;


/*---------------------------------*\
	Font Families
\*---------------------------------*/
$font-family-base: "lato", "Helvetica Neue", sans-serif;
$font-family-body: $font-family-base;
$font-family-heading: "alternate-gothic-no-2-d", "Helvetica Neue", sans-serif;


/*---------------------------------*\
	Fonts Sizes
\*---------------------------------*/
$font-size-xs:   1.0000rem; // 16px
$font-size-s:    1.1250rem; // 18px
$font-size-m:    1.5000rem; // 24px
$font-size-l:    2.0000rem; // 32px
$font-size-xl:   3.0000rem; // 48px
$font-size-xxl:  4.0000rem; // 64px

// Spacing --------------------------

$spacing-xxxxs: 0.25rem; // 4px
$spacing-xxxs:  0.50rem; // 8px
$spacing-xxs:   0.75rem; // 12px
$spacing-xs:    1.00rem; // 16px
$spacing-s:     1.50rem; // 24px
$spacing-m:     2.00rem; // 32px
$spacing-l:     2.50rem; // 40px
$spacing-xl:    3.00rem; // 48px
$spacing-xxl:   4.00rem; // 64px
$spacing-xxxl:  5.00rem; // 80px
$spacing-xxxxl: 6.00rem; // 96px
$spacing-xxxxxl:7.00rem; // 112px


$breakpoint-xs:   481px;
$breakpoint-s:    601px;
$breakpoint-m:    768px;
$breakpoint-l:    992px;
$breakpoint-xl:  1200px;
$breakpoint-xxl: 1400px;

$breakpoint-mobile: 1101px;

$breakpoints: (
	'xs': $breakpoint-xs,
	's': $breakpoint-s,
	'm': $breakpoint-m,
	'l': $breakpoint-l,
	'xl': $breakpoint-xl,
);

$sides: (
	'left',
	'right',
	'top',
	'bottom'
);

/*---------------------------------*\
	Misc.
\*---------------------------------*/
$transition: all 400ms ease-in-out;