.icon {
    a {
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    &--question {
        border: solid 2px $red;
        border-radius: 100px;
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 20px;
            width: 20px;
        }

        &:after {
            content: "?";
            font-size: 18px;
            font-weight: 900;
            color: $red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.copy {
        width: 18px;
        height: 20px;
    }
}

.heart {
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/heart-filled.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

svg {
    .fill-primary {
        fill: $color-primary;
    }
}

.button,
button {
    &:hover {
        svg {
            .fill-primary {
                fill: #fff;
            }
        }
    }
}