.slick-arrow {
	width: 64px;
	height: 100%;
	transition: $transition;
	background: none;
	appearance: none;
	border: none;
	padding: 0;
	z-index: 2;
	position: absolute;
	top: 0;
	font-size: 0;
	color: transparent;

	&:after {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		border-top: solid 1px $gray4;
		border-right: solid 1px $gray4;
		position: absolute;
		top: 45%;
	}

	@media (max-width:1439px) {
		width: 45px;
		height: 45px;
		top: 40%;
		background: $color-primary;
		border-radius: 4px;

		&:hover {
			background: darken($color-primary, 5%) !important;
		}

		&:after {
			border-color: #fff;
			top: 50%;
			width: 16px;
			height: 16px;
		}
	}

	// @media (max-width:1199px) {
	// 	width: 50px;
	// 	height: 50px;
	// }
}
.slick-next {
	left: 100%;

	&:after {
		transform: translateX(-50%) rotate(45deg);
		left: 40%;
	}

	@media (max-width:1439px) {
		transform: translateX(12px);

		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	@media (max-width:1199px) {
		transform: translateX(8px);
	}

	@media (max-width:767px) {
		transform: translateX(-4px);
	}

	@media (max-width:575px) {
		transform: translateX(-20px);
	}
}
.slick-prev {
	right: 100%;

	&:after {
		transform: translateX(50%)  rotate(-135deg);
		right: 40%;
	}

	@media (max-width:1439px) {
		transform: translateX(-12px);

		&:after {
			transform: translate(50%, -50%) rotate(-135deg);
		}
	}

	@media (max-width:1199px) {
		transform: translateX(-8px);
	}

	@media (max-width:767px) {
		transform: translateX(4px);
	}

	@media (max-width:575px) {
		transform: translateX(20px);
	}
}