.footer {
	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: $color-primary;
		}
	}

	.separator {
		display: inline-block;
		width: 1px;
		height: 1rem;
		background: $gray4;
		margin: 0 1rem;
	}

	.social-media {
		max-width: 240px;

		&__platform {
			width: 32px;
			height: 32px;
			
			&:not(:first-of-type) {
				margin-left: 0.5rem;
			}
	
			path {
				fill: $color-primary;
				transition: all 0.2s;
			}

			&:hover {
				path {
					fill: $color-primary-dk;
				}
			}
		}
	}

	&__copyright {
		color: $gray3;
	}

	&__row {
		&:not(:last-of-type) {
			border-bottom: solid 1px $gray4;
		}

		& > .separator {
			height: 4rem;
		}
	}

	&__branding {
		& > * {
			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}