@each $size, $spacing in $sizes {
	.m-#{$size} {
		margin: $spacing !important;
	}

	.my-#{$size} {
		margin-top: $spacing !important;
		margin-bottom: $spacing !important;
	}

	.mx-#{$size} {
		margin-left: $spacing !important;
		margin-right: $spacing !important;
	}

	@each $side, $abbr in $sides {
		.m#{$abbr}-#{$size} {
			margin-#{$side}: $spacing !important;
		}
	}
}

@each $label, $breakpoint in $breakpoints {
	@each $size, $spacing in $sizes {
		@media ( min-width: $breakpoint ) {
			.m-#{$label}-#{$size} {
				margin: $spacing !important;
			}
		
			.my-#{$label}-#{$size} {
				margin-top: $spacing !important;
				margin-bottom: $spacing !important;
			}
		
			.mx-#{$label}-#{$size} {
				margin-left: $spacing !important;
				margin-right: $spacing !important;
			}

			@each $side, $abbr in $sides {
				.m#{$abbr}-#{$label}-#{$size} {
					margin-#{$side}: $spacing !important;
				}
			}
		}
	}
}