@each $size, $spacing in $sizes {
	.p-#{$size} {
		padding: $spacing !important;
	}

	.py-#{$size} {
		padding-top: $spacing !important;
		padding-bottom: $spacing !important;
	}

	.px-#{$size} {
		padding-left: $spacing !important;
		padding-right: $spacing !important;
	}

	@each $side, $abbr in $sides {
		.p#{$abbr}-#{$size} {
			padding-#{$side}: $spacing !important;
		}
	}
}

@each $label, $breakpoint in $breakpoints {
	@each $size, $spacing in $sizes {
		@media ( min-width: $breakpoint ) {
			.p-#{$label}-#{$size} {
				padding: $spacing !important;
			}
		
			.py-#{$label}-#{$size} {
				padding-top: $spacing !important;
				padding-bottom: $spacing !important;
			}
		
			.px-#{$label}-#{$size} {
				padding-left: $spacing !important;
				padding-right: $spacing !important;
			}

			@each $side, $abbr in $sides {
				.p#{$abbr}-#{$label}-#{$size} {
					padding-#{$side}: $spacing !important;
				}
			}
		}
	}
}

// 	@each $side in $sides {
// 		@each $size, $spacing in $sizes {
// 			@media ( min-width: $breakpoint ) {
// 				.padding-#{$side}-#{$size}\@#{$label} {
// 					padding-#{$side}: $spacing;
// 				}
// 			}
// 		}
// 	}
// }